<p><%= notice %></p>

<h2>ログイン画面</h2>

<%= form_with scope: :session, url: session_path, local: true do |f| %>
  <div>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit 'ログイン' %>
  </div>
<% end %>
