<h2>ユーザー 一覧</h2>

<table>
  <thead>
  <tr>
    <th>id</th>
    <th>アイコン</th>
    <th>ユーザー名</th>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>作成日</th>
    <th>更新日</th>
  </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= image_tag user.image, size: '50x50' %></td>
        <td><%= user.user_name %></td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
        <td><%= user.updated_at.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
