<div class="top-container">
  <div class="inner-top-container">
    <div class="outer-form-container box-border">
      <h1 class="top-title">Picshare</h1>
      <p>友達の写真や動画をチェックしよう</p>

      <div class="form-container">
      <%= form_with model: @user, local: true do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation", class="error-messages">
            <h2><%= @user.errors.count %>件のエラーがあります</h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div><!-- /.error_explanation -->
        <% end %>

        <table>
          <tr>
            <th class="form-title"><%= f.label :email %></th>
          </tr>
          <tr>
            <td><%= f.text_field :email, class: 'form-input' %></td>
          </tr>
          <tr>
            <th class="form-title"><%= f.label :full_name %></th>
          </tr>
          <tr>
            <td><%= f.text_field :full_name, class: 'form-input' %></td>
          </tr>
          <tr>
            <th class="form-title"><%= f.label :user_name %></th>
          </tr>
          <tr>
            <td><%= f.text_field :user_name, class: 'form-input' %></td>
          </tr>
          <tr>
            <th class="form-title"><%= f.label :password %></th>
          </tr>
          <tr>
            <td><%= f.password_field :password, class: 'form-input' %></td>
          </tr>
          <tr>
            <th class="form-title"><%= f.label :password_confirmation %></th>
          </tr>
          <tr>
            <td><%= f.password_field :password_confirmation, class: 'form-input' %></td>
          </tr>
          <tr>
            <td><%= f.submit class: 'form-btn' %></td>
          </tr>
        </table>
      <% end %>
      </div><!-- /.form-container -->
    </div><!-- /.outer-form-container -->

    <div class="user-create-container box-border">
      <p>アカウントをお持ちですか？</p>
      <%= link_to 'ログインする', new_session_path, class: 'register-btn' %>
    </div><!-- /.user-create-container -->
  </div><!-- /.inner-top-container -->
</div><!-- /.top-container -->