<div class="post-container">
  <div class="post-header clearfix">
    <%= link_to account_path do %>
      <p class="f-left">
        <%= image_tag image_set(post.user),
              alt: post.user.user_name, class: 'cover40' %>
      </p>
      <p class="f-left post-user-name f-bold">
        <%= post.user.user_name %>
      </p>
    <% end %>

    <% if current_user == post.user %>
      <div class="menu-icon f-right">
        <% unless action_name == 'show' %>
          <%# 詳細 %>
          <%= link_to post_path(post) do %>
            <i class="fas fa-info-circle fa-1_5x fa-fw"></i>
          <% end %>
        <% end %>

        <%# 編集 %>
        <%= link_to edit_post_path(post) do %>
          <i class="far fa-edit fa-1_5x fa-fw"></i>
        <% end %>

        <%# 削除 %>
        <%= link_to  post_path(post),
              method: :delete, data: { confirm: '削除してもいいですか？' } do %>
          <i class="far fa-trash-alt fa-1_5x fa-fw"></i>
        <% end %>
      </div><!-- /.menu-icon -->
    <% end %>
  </div><!-- /.post-header -->

  <div class="post-picture">
    <p><%= image_tag post.image.url,
            alt: '画像の説明はありません', class: 'main-img' if post.image && post.image.url %></p>
  </div><!-- /.post-picture -->

  <div class="post-bottom">
    <div class="post-icon">
      <%= link_to '#' do %>
        <i class="far fa-heart fa-1_5x fa-fw"></i>
      <% end %>
      <i class="far fa-comment fa-1_5x fa-fw"></i>
      <i class="far fa-share-square fa-1_5x fa-fw"></i>
      <i class="far fa-bookmark fa-1_5x fa-fw right-position"></i>
    </div><!-- /.post-icon -->

    <div class="post-caption">
      <p class="f-bold"><%= post.user.user_name %></p>
      <p><%= post.caption %></p>
    </div><!-- /.post-caption -->

    <div class="post-time">
      <p><%= post.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
    </div><!-- /.post-time -->
  </div><!-- /.post-bottom -->
</div><!-- /.post-container -->
