<%= form_with model: post, url: choose_new_or_edit,
      local: true do |f| %>
  <div class="new-post-container">
    <% if post.errors.any? %>
      <div id="error_explanation" class="error-messages">
        <h2><%= post.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div><!-- /.error_explanation -->
    <% end %>

    <div class="post-image">
      <div class="new-post-area">
        <i class="far fa-image fa-lg"></i>
        <%= f.label :image %>
      </div>

      <%= f.file_field :image, class: 'new-post-file', accept: '.png, .jpg, .gif' %>
      <p><%= image_tag post.image.url,
                class: 'main-img' if post.image && post.image.url %></p>
      <%= f.hidden_field :image_cache %>
    </div><!-- /.post-image -->

    <div class="post-caption">
      <%= f.text_area :caption, cols: 30, rows: 6,
            placeholder: 'キャプションを書く', spellcheck: false, class: 'caption' %>
    </div><!-- /.post-caption -->
  </div><!-- /.new-post-container -->

  <div class="submit-btn clearfix">
    <%= f.submit '確認する', class: 'post-btn' %>
  </div><!-- /.submit -->
<% end %><!-- /form_with -->
