<div class="outer-post-container">
<h2 class="page-title">以下の内容で送信しますか？</h2>

  <%= form_with model: @post, local: true do |f| %>
  <div class="new-post-container">
    <div class="post-picture">
      <p><%= image_tag @post.image.url, alt: '画像の説明はありません',
                class: 'main-img' if @post.image && @post.image.url %></p>
    </div><!-- /.post-picture -->

    <div class="confirm-caption">
      <p><%= @post.caption %></p>
    </div><!-- /.post-caption -->

    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :caption %>
    </div><!-- /.new-post-container -->
    <%= f.submit '送信する', class: 'post-btn f-right' %>
  <% end %>

  <%= form_with model: @post, url: new_post_path, method: 'get',
          local: true, class: 'clearfix' do |f| %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :caption %>
    <%= f.submit '戻る', name: 'back', class: 'post-btn' %>
  <% end %>
</div><!-- /.container -->
</div><!-- /.post-container -->
