<div class="outer-container">
  <div class="container">
    <%= render 'shared/page_menu' %>
    <div class="user-container">
      <div class="inner-top-container">
        <div class="menu-icon menu-right">
          <% if current_user == @user %>
            <% unless action_name == 'show' %>
              <%# 詳細 %>
              <%= link_to account_path(@user) do %>
                <i class="fas fa-info-circle fa-1_5x fa-fw"></i>
              <% end %>
            <% end %>

            <%# 編集 %>
            <%= link_to edit_account_path(@user) do %>
              <i class="far fa-edit fa-1_5x fa-fw"></i>
            <% end %>

            <%# 削除 %>
            <%= link_to  account_path(@user),
                  method: :delete, data: { confirm: '削除してもいいですか？' } do %>
              <i class="far fa-trash-alt fa-1_5x fa-fw"></i>
            <% end %>
          <% end %>
        </div><!-- /.menu-icon -->

        <div class="img-container">
          <h3><%= @user.user_name %></h3>
          <p><%= image_tag image_set(@user), alt: @user.full_name, class: 'cover100' %></p>
        </div><!-- /.img-container -->

        <div>
          <table class="user-info">
            <tr class="user-show">
              <th class="form-title user-info-show">メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
            <tr class="user-show">
              <th class="form-title user-info-show">フルネーム</th>
              <td><%= @user.full_name %></td>
            </tr>
            <tr class="user-show">
              <th class="form-title user-info-show">ユーザーネーム</th>
              <td><%= @user.user_name %></td>
            </tr>
          </table>
        </div><!-- /.user-right -->
      </div><!-- /.inner-top-container -->
    </div><!-- /.user-container -->
  </div><!-- /.container -->
</div><!-- /.outer-container -->
